
.magazine-cover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title title"
        "feature-article feature-article cover-image"
        "small-article1 small-article2 cover-image";
}

.magazine-cover > .title {
    grid-area: title;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    background-image: linear-gradient(to bottom, rgb(239, 208, 255), #c2ccff, rgb(116, 139, 255));
    border-radius: 10px;
}

.magazine-cover > .feature-article {
    grid-area: feature-article;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 1.2rem;
}

.magazine-cover > .small-article1 {
    grid-area: small-article1;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 1rem;
}

.magazine-cover > .small-article2 {
    grid-area: small-article2;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 1rem;
}

.magazine-cover > .cover-image {
    grid-area: cover-image;
}

.cover-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

img {
    width: 100%;
    height: 100%;
    image-rendering: auto;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;
}