html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.blog-post-card {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
}

.post-img {
  width: 30%;
  height: 30%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.post-content {
  padding: 20px;
}

.read-more:hover {
  background-color: #ffc8dd;
  color: white;
}

.read-more {
  text-decoration: none;
  color: black;
  background-color: #a9d7ce;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;
  margin-top: calc(20% - 50px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.post-img {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
  border-bottom: 0.5px solid #a9d7ce;
  object-fit: cover;
}

.post-title,
.post-excerpt {
  margin: 5px 0;
  color: #364f4a;
}
