:root {
    --color0: #d0f9a4;
    --color1: #b2f669;
    --color2: #91e02e;
    --color3: #6cc644;
    --color4: #4ca809;
    --color5: #3a7c00;
    --solid-border: 1px solid black;
    --dashed-border: 1px dashed black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #908a8a;
    color: black;
}

#legend {
    font-size: 1.05rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    width: 200px;
    height: auto;
    text-align: center;
}

.available-0 {
    background-color: var(--color0);
}

.available-1 {
    background-color: var(--color1);
}

.available-2 {
    background-color: var(--color2);
}

.available-3 {
    background-color: var(--color3);
}

.available-4 {
    background-color: var(--color4);
}

.available-5 {
    background-color: var(--color5);
}

.sharp td {
    border-bottom: var(--solid-border);
}

.half td {
    border-bottom: var(--dashed-border);
}

table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    min-height: 50vh;
}

#legend-gradient {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, var(--color0) 0% 0%,
            var(--color1) 0% 20%,
            var(--color2) 20% 40%,
            var(--color3) 40% 60%,
            var(--color4) 60% 80%,
            var(--color5) 80% 100%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#legend-gradient span[id="zero"] {
    position: absolute;
    left: 5%;
    top: 50%;
}

#legend-gradient span[id="five"] {
    position: absolute;
    right: 5%;
    top: 50%;
}