body {
  background-color: #051c4eb6;
  color: aliceblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.container {
  background-color: #30c66fb1;
  max-width: 1200px;
  max-height: 800px;
  display: inline-table;
  grid:100vh ;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: #ffcc00;
}

a:focus {
  color: #ffcc00;
  outline: turquoise;
  outline-style: solid;
  outline-width: 2px;
}

a:visited {
  color: #ffccff;
}

a:active {
  color: #ff8dff;
}
