html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #0279868a;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

form {
  width: 100%;
  height: 100%;
}

label {
  margin: 10px;
  color: blueviolet;
}

input,
textarea {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  background-color: #0279868a;
  font-size: large;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  transition: background-color 0.3s ease;
}
