body {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    min-height: calc(100vh - 100px);
    padding: 50px 0;
    box-sizing: border-box;
}

hr {
    width: 50%;
    margin: 0 auto;
}

section {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

img {
    width: 50%;
}