* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(137, 191, 235);
}

#house {
  position: relative;
  width: 500px;
  height: 400px;
  border: 5px solid black;
  background-color: #edaa77;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: -99;
}

#house > div {
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: -100;
}

#chimney {
  top: -100px;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #b6b1b1;
  border: 5px solid #333;
}

#roof {
  top: 0;
  width: 100%;
  height: 30%;
  background-color: #663518;
  border: 5px solid #333;
  z-index: 1;
}

#window-1,
#window-2 {
  width: 100px;
  height: 100px;
  background-color: #a19848;
  border: 5px solid #333;
}

#door {
  bottom: 0px;
  left: 200px;
  right: 200px;
  width: calc(100px - 5px);
  height: 160px;
  background-color: #9ebbbc;
  border: 5px solid #333;
}

#window-1 {
  top: calc(400px / 2);
  left: 50px;
}

#window-2 {
  top: calc(400px / 2);
  right: 50px;
}
